<table class="table">
    <thead>
      <tr>
        <th scope="col">Tipo Documento IdentidadId</th>
        <th scope="col">Num Documento</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellido Paterno</th>
        <th scope="col">Apellido Materno</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col">UbigeoId</th>
        <th scope="col">Direccion</th>
        <th scope="col">Telefono</th>
        <th scope="col">Correo</th>
        <th scope="col">Genero</th>
        <th scope="col">Estado Civil</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of personanaturalItems">
        <td>{{ row.tipoDocumentoIdentidadId }}</td>
        <td>{{ row.numDocumento }}</td>
        <td>{{ row.nombres }}</td>
        <td>{{ row.apellidoPaterno }}</td>
        <td>{{ row.apellidoMaterno }}</td>
        <td>{{ row.fechaNacimiento | date: 'yyyy-MM-dd' }}</td>
        <td>{{ row.ubigeoId }}</td>
        <td>{{ row.direccion }}</td>
        <td>{{ row.telefono }}</td>
        <td>{{ row.correo }}</td>
        <td>{{ row.genero }}</td>
        <td>{{ row.estadoCivil }}</td>
        
        <td>
       
        </td>
      </tr>
    </tbody>
  </table>


  <!-- {
    "direccion": "NA",
    "telefono": "96655887",
    "nombres": "JOSE",
    "numDocumento": "11111122",
    "apellidoMaterno": "PONCE",
    "fechaNacimiento": "2023-06-29",
    "apellidoPaterno": "RUBIO",
    "ubigeoId": 1259,
    "genero": 0,
    "estadoCivil": 0,
    "correo": "NA",
    "personaNaturalId": 3131,
    "tipoDocumentoIdentidadId": 2,
    "action": "Loaded"
  } -->
