

<div class="container text-left">
    <div class="row">
      <div class="col-4">
        
<div >
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
      </div>
    
</div>
      </div>
      <div class="col-8">
       
<div class="card">
   
    <p-tabView styleClass="tabview-custom">
        <p-button label="Agregar" icon="pi pi-plus"
        styleClass="p-button-outlined p-button-secondary" >
      </p-button>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-calendar"></i>
                <span>Elemento</span>
            </ng-template>
            
             
<div class="card">
    
    <p-table  [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Company</th>
                <th>Representative</th>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="body" let-customer>
            <tr>
                <td>{{customer.name}}</td>
                <td>{{customer.country.name}}</td>
                <td>{{customer.company}}</td>
                <td>{{customer.representative.name}}</td>
            </tr>
        </ng-template> -->
    </p-table>
</div>
            
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <i class="pi pi-user"></i>
                <span>Servicios Basicos</span>
            </ng-template>
            <p-table  [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Company</th>
                        <th>Representative</th>
                    </tr>
                </ng-template>
                <!-- <ng-template pTemplate="body" let-customer>
                    <tr>
                        <td>{{customer.name}}</td>
                        <td>{{customer.country.name}}</td>
                        <td>{{customer.company}}</td>
                        <td>{{customer.representative.name}}</td>
                    </tr>
                </ng-template> -->
            </p-table>
        </p-tabPanel>
        
    </p-tabView>
</div>
      </div>
     
    </div>
    
  </div>
