<div class="login-container">
  <div class="login-box">
    <div class="row" style="text-align: center;margin-top: -50px;">

      <img src="../../../assets/logo.png" alt="Descripción de la imagen">
  
    </div>
    <div class="row">
      <span class="p-fluid">
        <label for="username" style="font-weight: 500;">Usuario</label>
        <input class="p-inputtext-sm" type="text" pInputText>
      </span>
    </div>

    <div class="row">
      <span class="p-fluid">
        <label for="username" style="font-weight: 500;">Contraseña</label>
        <input class="p-inputtext-sm" type="password" pInputText>
      </span>
    </div>
    <div class="row">
      <button type="submit" pButton class="p-mt-3 p-text-center">
        Iniciar Sesión
    </button>
    </div>
  </div>
</div>


<!-- <div class="p-d-flex p-jc-center p-ai-center" style="height: 100vh;">
    <div class="p-card">
      <h2>Iniciar Sesión</h2>
      <form (ngSubmit)="login()">
        <div class="p-field">
          <label for="username">Nombre de Usuario</label>
          <input type="text" id="username" pInputText [(ngModel)]="username" name="username">
        </div>
        <div class="p-field">
          <label for="password">Contraseña</label>
          <input type="password" id="password" pInputText [(ngModel)]="password" name="password">
        </div>
        <button type="submit" pButton class="p-mt-3">Iniciar Sesión</button>
      </form>
    </div>
  </div>
   -->