<p-card>

  <div style="display: flex; justify-content: space-between;">
    <div>
      <h1>Persona Natural</h1>
    </div>

    <div>

      <p-button [style]="buttonStyle" label="Guardar" icon="pi pi-plus"
        styleClass="p-button-outlined p-button-secondary">
      </p-button>
    </div>


  </div>


  <div class="row">
    <div class="col-md-3">
      <div class="box">


        <div class="mb-2">
          <div class="row">
            <span class="p-fluid">
              <label for="username">Tipo de Documento</label>
              <p-dropdown [options]="TipoDocumentoIdentidadItems" [(ngModel)]="SelectTipoDocumentoIdentidadItem"
                class="p-inputtext-sm" optionLabel="Alias"></p-dropdown>
            </span>
          </div>
        </div>

        <div class="mb-2">
          <div class="row">
            <span class="p-fluid">
              <label for="username">Nª Documento</label>
              <input class="p-inputtext-sm" type="text" pInputText>
            </span>
          </div>
        </div>

        <div class="mb-2">
          <div class="row">
            <span class="p-fluid">
              <label for="username">Nombres</label>
              <input class="p-inputtext-sm" type="text" pInputText>
            </span>
          </div>
        </div>


        <div class="mb-2">
          <div class="row">
            <span class="p-fluid">
              <label for="username">Apellido Paterno</label>
              <input class="p-inputtext-sm" type="text" pInputText>
            </span>
          </div>
        </div>


        <div class="mb-2">
          <div class="row">
            <span class="p-fluid">
              <label for="username">Apellido Materno</label>
              <input class="p-inputtext-sm" type="text" pInputText>
            </span>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-9">
      <div class="box">
        <p-tabView styleClass="tabview-custom">
          <p-tabPanel>
            <ng-template pTemplate="header">
              <i class="pi pi-calendar"></i>
              <span>Residencia </span>
            </ng-template>
            <div class="mb-2">
              <div class="row ">
                <span class="p-fluid">
                  <label for="username">Ubigeo</label>
                  <p-autoComplete [(ngModel)]="SelectUbigeoItem" class="p-inputtext-sm full-width"
                    [forceSelection]="true" [suggestions]="UbigeoItems"
                    (completeMethod)="GetUbigeoLikeItemEvent($event)" field="DesUbigeo"></p-autoComplete>
                </span>
              </div>
            </div>


            <div class="mb-2">
              <div class="row">
                <span class="p-fluid">
                  <label for="username">Dirección</label>
                  <input class="p-inputtext-sm" type="text" pInputText>
                </span>
              </div>
            </div>

          </p-tabPanel>
          <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
              <i class="pi pi-user"></i>
              <span>Medio de comunicación</span>
            </ng-template>

          </p-tabPanel>
          <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
              <i class="pi pi-search"></i>
              <span>Datos adicionales</span>
              <i class="pi pi-cog"></i>
            </ng-template>

            <div>
              <div class="row">
                <div class="col-md-8">
                
                  <div class="mb-2">
                    <div class="row">
                      <span class="p-fluid">
                        <label for="username">Ruta de Foto</label>
                        <input class="p-inputtext-sm" [(ngModel)]="RutaImagen"  type="text" pInputText>
                      </span>
                    </div>
                  </div>


                  <div class="card flex justify-content-center">
                    <p-image   [src]="RutaImagen" alt="Image"
                      [preview]="true"></p-image>
                      <!-- <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" /> -->
                  </div>
                </div>
                <div class="col-md-4">


                  <div class="mb-3">
                    <div class="row">
                      <span class="p-fluid">
                        <label for="username">Fecha de Nacimiento</label>

                        <p-calendar [touchUI]="false" class="p-inputtext-sm" [readonlyInput]="true"></p-calendar>

                      </span>
                    </div>
                  </div>

                  <div class="mb-2">
                    <div class="row">
                      <span class="p-fluid">
                        <label for="username">Genero</label>
                        <p-dropdown [options]="GeneroItems"
                          [(ngModel)]="SelectGeneroItem" class="p-inputtext-sm"
                          optionLabel="Nombre"></p-dropdown>
                      </span>
                    </div>
                  </div>



                  <div class="mb-2">
                    <div class="row">
                      <span class="p-fluid">
                        <label for="username">Estado civil</label>
                        <p-dropdown [options]="EstadoCivilItems"
                          [(ngModel)]="SelectEstadoCivilItem" class="p-inputtext-sm"
                          optionLabel="Nombre"></p-dropdown>
                      </span>
                    </div>
                  </div>


                </div>
              </div>
            </div>


          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>


</p-card>